@import '../../../variables.scss';

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 140px);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.signup_title {
    display: block;
    font-size: 2rem;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 1em;
    margin-right: 0;
    font-weight: 500;
    line-height: 1.2;
    color: $secondary;
    text-align: center;
}

.signup_form-wrapper {
    min-width: 40%;
    margin-bottom: 10%;
    border: 1px solid $light-grey;
    padding: 1em 2em;
    box-shadow: 0 15px 20px $light-grey;
    text-align: center;
}

.signup_name-wrapper {
    display: flex;
}

.signup_form-group {
    margin-bottom: 1rem;
}

.signup_form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    &::-webkit-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }
      
    &::-moz-placeholder {
        color: #6c757d;
        opacity: 1;
    }
      
    &:-ms-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }
      
    &::-ms-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }
      
    &::placeholder {
        color: #6c757d;
        opacity: 1;
    }
}

.signup_submit-button {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #328CC1;
    border: 1px solid #328CC1;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: rgb(41, 122, 168);
        border-color: rgb(41, 122, 168);
    }

    &:focus {
        outline: 0;
        color: #fff;
        background-color: #328CC1;
        border-color: #328CC1;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }

    &:disabled {
        background-color: rgb(88, 125, 146);
        border-color:rgb(88, 125, 146);
    }
}