<div class="login-container">
    <div class="login">
        <div class="login_form-wrapper">
            <div class="login_title">Login</div>
            <form class="login_form" [formGroup]="loginForm" (submit)="submit()" novalidate>
                <div class="login_form-group">
                    <input class="login_form-control" type="email" id="email-input" placeholder="Email"
                        formControlName="email" autocomplete="email" />
                </div>
                <div class="login_form-group">
                    <input class="login_form-control" type="password" id="password-input"
                        placeholder="Password" formControlName="password" autocomplete="current-password" />
                </div>
                <button class="login_submit-button" type="submit"
                    [disabled]="!loginForm.valid">Submit</button>
            </form>
            <small><a class="login_router-link" routerLink="/signup">Need an Account?</a></small>
        </div>
    </div>
</div>