<div class="catalog">
    <div class="catalogProductsList" *ngFor="let product of productsList">
        <div class="product">
            <div>{{ product.name }}</div>
            <div>{{ product.description }}</div>
            <div>{{ product.category }}</div>
            <div>{{ product.price }}</div>
            <div>{{ product.brand }}</div>
            <div>{{ product.gender }}</div>
            <div>{{ product.availableSizes }}</div>
            <div>{{ product.characteristics }}</div>
        </div>
    </div>
</div>